body {
  background-image: url("http://3.bp.blogspot.com/-5AgvAmGK8AU/U8pfI1AQXyI/AAAAAAAAfmU/zwnb2zFJ5Hs/s1600/fruity_pineapple_pattern_title.jpg");
  background-size: contain;
}

.container {
  text-align: center;
  max-width: 800px;
  margin: 5% auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

h1, h2, p {
  text-align: center;
}



h1 {
  color: #05182a;
  width: 55%;
  font-size: 40px;
  padding: 10px 0;
  margin: auto;
  text-shadow: 5px;
}

p {
  color: #05182a;
  font-size: 25px;;
  margin: 20px 0;
  word-spacing: 1.5px;
}

.startBttn {
  font-size: 30px;
  font-weight: bolder;
  color: #05182a;
  background-color: gold;
  border: 2px solid gold;
  border-radius: 5px;
  height: 50px;
  width: 50%;
  margin: 5% 0 15% 0;
}

.tryAgainBttn {
  font-size: 20px;
  font-weight: bolder;
  color: #05182a;
  background-color: gold;
  border: 2px solid gold;
  border-radius: 5px;
  height: 50px;
  width: 50%;
  margin-bottom: 30%;
  margin-top: 5%;
}

ul {
  list-style-type: none;
}

li {
  border: 2px solid gold;
  width: 80%;
  text-align: left;
  padding: 10px;
  margin: auto;
}

.cFeedback {
  border: 2px solid gold;
  text-align: left;
  padding: 10px;
  margin: 0 15px;
}

label {
  color: #05182a;
  font-size: 25px;
}

.subButton {
  font-size: 20px;
  font-weight: bolder;
  color: #05182a;
  background-color: gold;
  border: 2px solid gold;
  border-radius: 5px;
  height: 50px;
  width: 50%;
  margin: 5% 0 20% 0;
}

h1, .underline {
  text-decoration: underline;
  text-decoration-color: gold;
}

.fdbckNext {
  font-size: 20px;
  font-weight: bolder;
  color: #05182a;
  background-color: gold;
  border: 2px solid gold;
  border-radius: 5px;
  height: 50px;
  width: 50%;
  margin: 15% 0 10% 0;
}

.fdbckView {
  padding: 5% 15%;
  margin-top: 10%;
  margin-bottom: 5%;
  /*line-height: 50px;*/
  font-size: 50px;
}

